{% extends 'left-sidebar.html' %}

{%block cuerpo%}sidebar-fixed topnav-fixed forms-elements{%endblock%}

{%block content-wrapper%}

<div id="main-content-wrapper" class="content-wrapper ">
<form action="" method="post"> {% csrf_token %}

	<div class="row">
		<div class="col-lg-12 ">										
			<div class="form-group">							
					<div class="col-lg-4 ">
						
						{%if cl%}
						Cliente<br>
						<strong>{{cl.cliente}}</strong>
						
						<input type="hidden" name="cliente" value="{{cl.id}}">
						
						
						{%else%}
						{{form_movimiento.cliente.label}}<br>
					
					<select name="cliente" placeholder="Cliente" class="select2" id="id_cliente">
					  <option value="" selected>---------</option>
					{%for client in c%}
					  <option value="{{client.id}}">{{client.cliente}}</option>
					{%endfor%}
					</select>
					 <a href="/cliente_form"><i class="fa fa-plus fa-lg" style="color:red"></i></a>
					 {%endif%}
					 </div>
					<div class="col-lg-4 ">{{form_movimiento.producto.label}}<br>{{form_movimiento.producto}}</div>
					<div class="col-lg-4 ">{{form_movimiento.cantidad.label}}<br>{{form_movimiento.cantidad}}</div>
			</div>
		</div>
	</div>
	
									<hr class="inner-separator" />	
	<div class="row">
		<div class="col-lg-12 ">
			<div class="form-group">							
					<div class="col-lg-3 "><input type="submit" class="btn btn-success" value="Registrar"></input></div>
			</div>
		</div>
	</div>
	
</form>
</div>


{%endblock%}



{% block js %}
	<script src="/static/assetss/js/jquery/jquery-2.1.0.min.js"></script>
	<script src="/static/assetss/js/bootstrap/bootstrap.js"></script>
	<script src="/static/assetss/js/plugins/modernizr/modernizr.js"></script>
	<script src="/static/assetss/js/plugins/bootstrap-tour/bootstrap-tour.custom.js"></script>
	<script src="/static/assetss/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/static/assetss/js/king-common.js"></script>
	<script src="/static/assetss/js/plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
	<script src="/static/assetss/js/plugins/jquery-maskedinput/jquery.masked-input.min.js"></script>
	<script src="/static/assetss/js/plugins/bootstrap-multiselect/bootstrap-multiselect.js"></script>
	<script src="/static/assetss/js/jquery-ui/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="/static/assetss/js/plugins/jqallrangesliders/jQAllRangeSliders-min.js"></script>
	<script src="/static/assetss/js/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
	<script src="/static/assetss/js/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js"></script>
	<script src="/static/assetss/js/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
	<script src="/static/assetss/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
	<script src="/static/assetss/js/plugins/daterangepicker/daterangepicker.js"></script>
	<script src="/static/assetss/js/plugins/moment/moment.min.js"></script>
	<script src="/static/assetss/js/plugins/bootstrap-slider/bootstrap-slider.js"></script>
	<script src="/static/assetss/js/plugins/select2/select2.min.js"></script>
	<script src="/static/assetss/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
	<script src="/static/assetss/js/king-elements.js"></script>
{%endblock%}




