{% extends 'left-sidebar.html' %}

{%block cuerpo%}sidebar-fixed topnav-fixed forms-elements{%endblock%}

{%block content-wrapper%}

<div id="main-content-wrapper" class="content-wrapper ">
<form enctype="multipart/form-data" action="" method="POST"> {% csrf_token %}





	<div class="row">
		<div class="col-lg-12 ">										
			<div class="form-group">							
					<div class="col-lg-3 ">{{form_empleado.nombre.label}}<br>{{form_empleado.nombre}}</div>
			</div>	
		</div>	
	</div>	
									<hr class="inner-separator" />


	<div class="row">
		<div class="col-lg-12 ">										
			<div class="form-group">							
					<div class="col-lg-3 ">{{form_empleado.correo.label}}<br>{{form_empleado.correo}}</div>
					<div class="col-lg-3 ">{{form_empleado.telefono.label}}<br>{{form_empleado.telefono}}</div>
					<div class="col-lg-3 ">{{form_empleado.direccion.label}}<br>{{form_empleado.direccion}}</div>
					<div class="col-lg-3 ">{{form_empleado.imagen.label}}<br>{{form_empleado.imagen}}</div>
			</div>	
		</div>	
	</div>	
									<hr class="inner-separator" />
	<div class="row">
		<div class="col-lg-12 ">										
			<div class="form-group">							
					<div class="col-lg-2 ">{{form_empleado.estado.label}}<br>{{form_empleado.estado}}</div>
					<div class="col-lg-2 ">{{form_empleado.carne.label}}<br>{{form_empleado.carne}}</div>
					<div class="col-lg-2 ">{{form_empleado.titulo.label}}<br>{{form_empleado.titulo}}</div>
					<div class="col-lg-2 ">{{form_empleado.graduado.label}}<br>{{form_empleado.graduado}}</div>
					<div class="col-lg-2 ">{{form_empleado.cargo.label}}<br>{{form_empleado.cargo}}</div>
			</div>
		</div>
	</div>

									<hr class="inner-separator" />


	<div class="row">
		<div class="col-lg-12 ">
			<div class="form-group">							
					<div class="col-lg-3 "><input type="submit" class="btn btn-success" value="Registrar"></input></div>
			</div>
		</div>
	</div>


</form>
</div>


{%endblock%}



{% block js %}
	<script src="/static/assetss/js/jquery/jquery-2.1.0.min.js"></script>
	<script src="/static/assetss/js/bootstrap/bootstrap.js"></script>
	<script src="/static/assetss/js/plugins/modernizr/modernizr.js"></script>
	<script src="/static/assetss/js/plugins/bootstrap-tour/bootstrap-tour.custom.js"></script>
	<script src="/static/assetss/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/static/assetss/js/king-common.js"></script>
	<script src="/static/assetss/js/plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
	<script src="/static/assetss/js/plugins/jquery-maskedinput/jquery.masked-input.min.js"></script>
	<script src="/static/assetss/js/plugins/bootstrap-multiselect/bootstrap-multiselect.js"></script>
	<script src="/static/assetss/js/jquery-ui/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="/static/assetss/js/plugins/jqallrangesliders/jQAllRangeSliders-min.js"></script>
	<script src="/static/assetss/js/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
	<script src="/static/assetss/js/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js"></script>
	<script src="/static/assetss/js/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
	<script src="/static/assetss/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
	<script src="/static/assetss/js/plugins/daterangepicker/daterangepicker.js"></script>
	<script src="/static/assetss/js/plugins/moment/moment.min.js"></script>
	<script src="/static/assetss/js/plugins/bootstrap-slider/bootstrap-slider.js"></script>
	<script src="/static/assetss/js/plugins/select2/select2.min.js"></script>
	<script src="/static/assetss/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
	<script src="/static/assetss/js/king-elements.js"></script>
{%endblock%}




